*.DS_Store
rastercube.egg-info
*.ipynb_checkpoints
*.pyc
*.so
parasid_log/
_logs/
build/
dist/
.cache
.coverage
.eggs
/coverage.xml
/nosetests.xml
/pylint.out
/flake8.txt
/rastercube/datasources/modis_qa.c
/rastercube/datasources/landsat8_qa.c
/docker/rastercube.tar.bz2
vagrant/ansible/roles/common/files/ssh_key*
vagrant/.vagrant
